@media (min-width:300px) and (max-width: 399px){ 
/* smartphones, iPhone, portrait 480x320 phones */ 
	.logo img {
		width: 40%;
	}

	.header {
		height: 20px;
	}

	.wrapper {
		width: 97%;
	}

	h1 {
		font-size: 2em;
		line-height: 1.2em;
		letter-spacing: -1px;
	}

	h3 {
		font-size: 1.3em;
	}

	.pitch .text {
		margin: 25% 0 0 0;
	}

	a .button{
		width: 100%;
		padding: 13% 0;
		margin: 10% 0 0 0;
	}

	.pitch .button p {
		font-size: 1.6em;
	}


	h2 {
		line-height: 0.85em;
		font-size: 5.5em;
		letter-spacing: -2px;
	}

	.threecolumn {
		width: 95%;
		margin: 2% 0 10% 1%;
		min-height: 0;
	}

	.bottom-fold {
		min-height: 2300px;
	}

	.contact {
		width: 60%;
		margin: 6% 0 0 0;
	}

	.created img {
		width: 110%;
	}

	.created {
		width: 34%;
	}

	.footer {
		height: 70px;
	}

	.contact p, .contact a {
		font-size: 0.75em;
		letter-spacing: -0.5px;
	}

	.prices .threecolumn {
		min-height: 400px;
	}

	.threecolumn.lowerbutton .gumroad-button {
		margin: 5% 0 0 0 !important;
	}

}

@media (min-width:400px) and (max-width: 479px){ 
/* smartphones, iPhone, portrait 480x320 phones */ 
	.logo img {
		width: 35%;
	}

	.header {
		height: 25px;
	}

	.wrapper {
		width: 97%;
	}

	h1 {
		font-size: 2em;
		line-height: 1.2em;
	}

	.pitch .text{
		margin: 20% 0 0 0;
	}

	a .button{
		width: 100%;
		padding: 10% 0;
		margin: 10% 0;
	}

	.pitch .button p {
		font-size: 2em;
	}

	h2 {
		line-height: 0.85em;
		font-size: 7em;
		letter-spacing: -2px;
	}

	h3 {
		font-size: 1.5em;
		line-height: 2em;
	}

	.threecolumn {
		width: 90%;
		margin: 2% 0 10% 2%;
		min-height: 0;
	}

	.prices .threecolumn {
		min-height: 350px;
	}

	.bottom-fold {
		min-height: 2250px;
	}

	.contact {
		width: 60%;
	}

	.created img {
		width: 120%;
	}

	.created {
		width: 30%;
	}

	.footer {
		height: 80px;
	}

	.contact p, .contact a {
		font-size: 0.75em;
	}

	.threecolumn.lowerbutton .gumroad-button {
		margin: 5% 0 0 0 !important;
	}

}

@media (min-width:480px) and (max-width: 640px){ 
/* smartphones, iPhone, portrait 480x320 phones */ 
	.logo img {
		width: 35%;
	}

	.header {
		height: 30px;
	}

	.wrapper {
		width: 95%;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1.2em;
	}

	.pitch .text {
		margin: 17% 0 0 0;
	}

	a .button{
		width: 100%;
		padding: 10% 0;
	}

	.pitch .button p {
		font-size: 2.5em;
	}

	h2 {
		line-height: 0.85em;
		font-size: 8em;
		letter-spacing: -5px;
	}

	.threecolumn {
		width: 90%;
		margin: 2% 0 10% 3%;
		min-height: 0;
	}

	.prices .threecolumn {
		min-height: 350px;
		margin: 2% 0 0 3%;
	}

	.bottom-fold {
		overflow: hidden;
		min-height: 2150px;
	}

	.contact {
		width: 60%;
	}

	.created img {
		width: 120%;
	}

	.created {
		width: 30%;
	}

	.footer {
		height: 90px;
	}

	.threecolumn.lowerbutton .gumroad-button {
		margin: 5% 0 0 0 !important;
	}
}

@media (min-width:641px) and (max-width: 767px){ 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.logo img {
		width: 25%;
	}
	.header {
		height: 20px;
	}

	.wrapper {
		width: 95%;
	}

	h1 {
		font-size: 2.8em;
	}

	h2 {
		line-height: 1em;
		font-size: 5.6em;
		letter-spacing: -2px;
	}

	.pitch .text {
		margin: 17% 0 0 0;
	}

	a .button{
		width: 80%;
		padding: 7% 0;
	}

	.pitch .button p {
		font-size: 2.5em;
	}

	.threecolumn {
		width: 90%;
		margin: 2% 1% 2% 0;
		min-height: 300px;
		padding: 0 5%;
	}

	li, a, p {
		font-size: 1.20em;
	}

	.prices .threecolumn{
		padding: 5% 10%;
		width: 65%;
		margin: 0 0 5% 7%;
		min-height: 400px;
	}

	.gumroad-button {
		width: 40%;
		margin: 5% 0 0 0;
	}

	.threecolumn.lowerbutton .gumroad-button {
		margin: 10% 0 0 0 !important;
	}

	.bottom-fold {
		min-height: 2500px;
	}

	.contact {
		width: 60%;
	}

	.footer {
		height: 100px;
	}

	.created img {
		width: 120%;
	}
}

@media (min-width:768px) and (max-width: 1023px) { 
	.logo img {
		width: 20%;
	}

	.wrapper {
		width: 95%;
	}

	h1 {
		font-size: 2.7em;
	}

	h2 {
		line-height: 1em;
		font-size: 7em;
		letter-spacing: -2px;
	}
	.pitch .text {
		margin: 12% 0 0 0;
	}

	a .button{
		width: 70%;
		padding: 6% 0;
	}

	.pitch .button p {
		font-size: 2.5em;
	}

	.threecolumn {
		width: 28%;
		margin: 2% 1% 2% 0;
	}

	.gumroad-button {
		width: 78%;
		margin: 10% 0 0 0;
	}

	li, a {
		font-size: 1em;
	}

	.bottom-fold {
		min-height: 850px;
	}

	.threecolumn h2 {
		font-size: 1.1em;
		letter-spacing: 0;
	}

	.contact {
		width: 50%;
	}

	.threecolumn.lowerbutton .gumroad-button {
		margin: 29% 0 0 0 !important;
	}
}


@media (min-width:1024px) and (max-width: 1280px) { 
/* big landscape tablets, laptops, and desktops */ 
	.wrapper {
		width: 95%;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 9em;
	}

	p, li {
		font-size: 1.05em;
		letter-spacing: -0.5px;
	}

	.pitch .text {
		margin: 10% 0 0 0;
	}

	.threecolumn a {
		font-size: 1em;
	}
}

@media (min-width:1281px){ 
/* hi-res laptops and desktops */ 
  .wrapper {
  	width: 95%;
  }

  .prices .threecolumn{
  	min-height: 425px !important;
  }
}